<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Subtitle Generator</title>
</head>
<body>
  <button onclick="location.href='{% url 'script' %}'">Click</button> <hr>
  {% if data %}

  {(data | safe)}

  {% endif %}

  <form action="/external/" method="post">
    {% csfr_token %}
    Input Text:
    <input type="text" name="pro" required><br><br>
    {(data_external)} <br><br>
    <input type="submit" value="Execute External Python Script">

  </form>
</body>
</html>